[project]
	description = webRTC application with symfony3
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/amalx
[access "refs/for/refs/*"]
	read = group user/amalx
	push = group user/amalx
	label-Code-Review = -2..+2 group user/amalx
	label-Verified = -1..+1 group user/amalx
	rebase = group user/amalx
	removeReviewer = group user/amalx
	submit = group user/amalx
[access "refs/heads/*"]
	read = group user/amalx
	create = group user/amalx
	push = +force group user/amalx
	pushMerge = group user/amalx
[access "refs/tags/*"]
	push = group user/amalx
	push = +force group user/amalx
