{# src/OC/PlatformBundle/Resources/views/mobile.html.twig #}

{% extends "PlatformBundle::layout.html.twig" %}

{% block title %}
  Annonces - {{ parent() }}
{% endblock %}


{% block mobile %}


                        <button type="button" class="btn btn-default digit" data-digit="1">1<span>&nbsp;</span></button>
                        <button type="button" class="btn btn-default digit" data-digit="2">2<span>ABC</span></button>
                        <button type="button" class="btn btn-default digit" data-digit="3">3<span>DEF</span></button>
                        <button type="button" class="btn btn-default digit" data-digit="4">4<span>GHI</span></button>
                        <button type="button" class="btn btn-default digit" data-digit="5">5<span>JKL</span></button>
                        <button type="button" class="btn btn-default digit" data-digit="6">6<span>MNO</span></button>
                        <button type="button" class="btn btn-default digit" data-digit="7">7<span>PQRS</span></button>
                        <button type="button" class="btn btn-default digit" data-digit="8">8<span>TUV</span></button>
                        <button type="button" class="btn btn-default digit" data-digit="9">9<span>WXYZ</span></button>
                        <button type="button" class="btn btn-default digit" data-digit="*">*<span>&nbsp;</span></button>
                        <button type="button" class="btn btn-default digit" data-digit="0">0<span>+</span></button>
                        <button type="button" class="btn btn-default digit" data-digit="#">#<span>&nbsp;</span></button>
                        <div class="clearfix">&nbsp;</div>
                        <button class="btn btn-success btn-block btnCall" title="Send">
                            <i class="fa fa-play"></i> Send
                        </button>


{% endblock %}
