<html lang="en">
<head>
    <meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>ctxSip</title>
   <link href="{{asset('css/stylesheet.css')}}" rel="stylesheet" type="text/css" />

</head>
<body >
  <ul>
    {% for advert in listadvert %}
<li> <a href="{{ path('oc_platform_viewad', {'id': advert.getId() } ) }}">{{ advert.firstName }}</a> </li> 
   
    {% endfor %}
  </ul>

  <p>
    <a href="{{ path('oc_platform_add') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>

  </p>

</body>
</html>
